/* Avoid to have backticks into the inline code formatting format */
.prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *))::after {
    content: "";
}
.prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *))::before {
    content: "";
}

/* logo resize */
svg#logo{	
    height: var(--navbar-height);
}

/* link underline stats blocs */
.blox-stats a, .blox-features a {
    text-decoration-line: underline;
}
.blox-stats a:hover, .blox-features a:hover{
    text-decoration-line: none;
}
