/* Avoid to have backticks into the inline code formatting format */
code {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--color-neutral-100)/var(--tw-bg-opacity));
}
.prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *))::after {
    content: "";
}
.prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *))::before {
    content: "";
}
.prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)){
    --tw-text-opacity: 1;
    color: rgb(var(--color-neutral-700)/var(--tw-text-opacity));
}

/* Change note callout color from red to blue */
div.flex.px-4.py-3.mb-6.rounded-md.bg-primary-100.dark\:bg-primary-900{
  background-color: rgb(219 234 254);
}