---
---

@import "{{ site.theme }}";

body{background-color: white; background-image: none; color: black;}
.btn{background-color: black;}
header{background:none; border-bottom: 1px dashed #c2191b;}
header h1{color:#c2191b;}
h1, h2, h3, h4, h5, h6{color:#c2191b;}
th{border-bottom: 1px dashed #c2191b;}
hr{border-bottom: 1px dashed #c2191b;}
code.highlighter-rouge { background: rgba(98, 98, 98, 0.08); border: none; color: #b03d99;}